<div class="room-detail-container" *ngIf="room">
  <h2>{{ room.name }}</h2>
  <p class="price">{{ room.price | number }}đ / tháng</p>
  <p class="status" [ngClass]="room.status === 'AVAILABLE' ? 'available' : 'soldout'">
    {{ room.status === 'AVAILABLE' ? 'Còn phòng' : 'Hết phòng' }}
  </p>

  <div class="image-gallery" *ngIf="room.images?.length > 0">
    <img class="main-image" [src]="currentMainImage" alt="Room image" />

    <div class="thumbs">
      <img
        *ngFor="let img of room.images; let i = index"
        [src]="normalizeImage(img.imageUrl)"
        [class.active]="i === currentImageIndex"
        (click)="changeMainImage(img.imageUrl, i)"
        alt="Room thumb"
      />
    </div>
  </div>

  <h3>Mô tả</h3>
  <p>{{ room.description }}</p>
</div>
