<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="testng-home">
    <classes>
      <class name="tests.home.HomeSortTests"/>
      <class name="tests.home.HomeNavigationTests"/>
    </classes>
  </test> <!-- testng-home -->
</suite> <!-- Suite -->
